@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Prata&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  /* background-color: #0a0a0b; */
  color: white;
  font-family: 'Inter', sans-serif;
}

header {
  background-color: #0a0a0b;
}

.port {
  width: 80%;
  margin: 0 auto;
  /* height: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.nav-links {
  width: 300px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

h3 {
  font-family: 'Prata', sans-serif;
  font-size: 1.4rem;
  cursor: pointer;
}

nav a {
  color: white;
  text-decoration: none;
  transition: all 0.2s;
}

nav a:hover {
  transform: scale(1.2);
}

main {
  background-color: #0a0a0b;

}

.contact {
  transition: transform 0.2s;
}

.contact:hover {
  transform: scale(1.1);
}

.contact a {
  text-decoration: none;
  background-color: #ebda4b;
  color: #0a0a0b;
  font-family: 'Prata', sans-serif;
  padding: 16px;

}

.hero-section {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  background-color: #0a0a0b;
  margin: 0 auto;

}

.main-content {
  margin-bottom: 50px;
}

h1 {
  font-family: 'Prata', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  width: 60%;
  line-height: 4rem;
}

h1+p {
  color: #949494;
  width: 50%;
  line-height: 1.5rem;
}

.companies {
  display: flex;
  list-style: none;
  justify-content: space-between;

}

.companies img {
  transition: transform 0.3s;
}

.companies img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.more-content {
  margin: 70px auto;
  width: 80%;
  background-color: #0a0a0b;
  margin: 0 auto;
  padding: 50px 0;
}

.more-list {
  list-style: none;
  display: flex;
  gap: 10%;

}

.more-list li {
  width: 45%;
}

.more-list img {
  width: 500px;
  object-fit: cover;
}

.more-list h4,
.more-list a {
  text-decoration: none;
  font-family: 'Prata', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: white;
  margin: 10px 0;
}

.more-list h4:hover {
  text-decoration: underline;
}

.more-list p {
  color: #949494;
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.later-content {
  background-color: #2E3038;
  padding: 50px 0;
  color: #949494;
}

.later-list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  list-style: none;
  gap: 10%;
}

.later-content h3 {
  font-size: 2rem;
  font-weight: 400;
  color: white;
}

.later-content p {
  padding: 10px 0;
}