@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Prata&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  padding: 30px 0;
  margin: 0 auto;
  background-color: #0a0a0b;
  color: white;
  font-family: 'Inter', sans-serif;
}

.header-section {
  /* height: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.nav-links {
  width: 300px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

h3 {
  font-family: 'Prata', sans-serif;
  font-size: 1.4rem;
}

nav a {
  color: white;
  text-decoration: none;
  transition: all 0.2s;
}

nav a:hover {
  transform: scale(1.2);
}

.contact {
  transition: transform 0.2s;
}

.contact:hover {
  transform: scale(1.1);
}

.contact a {
  text-decoration: none;
  background-color: #ebda4b;
  color: #0a0a0b;
  font-family: 'Prata', sans-serif;
  padding: 16px;

}

.hero-section {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.main-content {
  margin-bottom: 50px;
}

h1 {
  font-family: 'Prata', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  width: 50%;
  line-height: 4rem;
}

h1+p {
  color: #949494;
  width: 50%;
  line-height: 1.5rem;
}

.companies {
  display: flex;
  list-style: none;
  justify-content: space-between;

}

.companies img {
  transition: transform 0.3s;
}

.companies img:hover {
  transform: scale(1.1);
  cursor: pointer;
}